.Navigate-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 100vw;
    height: 100vh;
    background: url('https://c4.wallpaperflare.com/wallpaper/531/951/621/digital-digital-art-artwork-illustration-minimalism-hd-wallpaper-preview.jpg');
    background-position: center;
    background-size: cover;
}
.NavigateUserList{
    margin: 10px;
    margin-right: 20px;
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
}
.NavigateAnagram{
    margin: 10px;
    margin-left: 20px;
    padding: 10px 12px;
    border: none;
    border-radius: 10px;
}